$medium: 500px;

@import "libs/reset.scss";
@import "libs/responsives.scss";

$primary: #68b3ff;
$padding: 20;

body{
    padding: $padding;
    background: #fff;
    font-family: sans-serif;
}

p{
    margin: 1rem;
}

.table{
    
    width: 100%;
    
    td{
        border: solid #ccc;
    }

    thead{
        background: { 
        color: #000;
        repeat: no-repeat;
    }
    color: #FFF;
}

    @media only screen and (max-width: 1200px) {
        width: 90%;
    }
}

%btn{
    padding: 5px 12px;
    border-radius: 3px;
}

.btn {
    @extend %btn;
    text-decoration: none;
    background: $primary;
    color: #FFF;

    &:hover {
        background:  darken($primary, 20);
    }
}

.btn-danger {
    @extend .btn;

    background: #f74e4e;

    &:hover {
        background: #b23e3e;
    }
}

%shadow{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);

}

.card{
    @extend %shadow;
    padding: 10px;
    border-radius: 3px; 
}



.card-action{
    @extend .btn;
}

.card-cancel{
    @extend .btn-danger;
    @extend %shadow;
}

.card-actions{
    display: flex;
}

@media #{$medium-up} {
    .btn {
        width: 100%;
    }
}