@import "libs/reset.scss";
@import "libs/responsives.scss";


body{
    background: #000;
}

p{
    margin: 1rem;
}



.table{
    
    width: 100%;
    
    td{
        border: solid #ccc;
    }

    thead{
        background: { 
        color: #000;
        repeat: no-repeat;
    }
    color: #FFF;
}

    @media only screen and (max-width: 1200px) {
        width: 90%;
    }
}

.btn {
    background: blue($color: #2424f7);

    &:hover {
        background: blue($color: #7b7ff0);
    }

    .theme-vert & {
        background: green;
    }

    @media (max-width: 1200px) {
            padding: 10px;;
        
    }

}





