$medium: 500px;
$base-font-size: 14px;

@import "libs/reset.scss";
@import "libs/mixins.scss";
@import "libs/functions.scss";
@import "libs/responsives.scss";

$primary: #192027;
$padding: 20;

html body {
    font-size: $base-font-size;
}

body{
    padding: $padding;
    background: #8a8a8a;
    font-family: sans-serif;
}

p{
    margin: 1rem;
}

.table{
    
    width: 100%;
    
    td{
        border: solid #ccc;
    }

    thead{
        background: { 
        color: #000;
        repeat: no-repeat;
    }
    color: #FFF;
}

    @media only screen and (max-width: 1200px) {
        width: 90%;
    }
}

%btn{
    padding: em(5) em(12);
    border-radius: 3px;
}

.btn {
    @extend %btn;
    text-decoration: none;
    background: $primary;
    @if(lightness($primary) > 50%){
        color: #000;
    } @else {
        color: #FFF;
    }
    

    &:hover {
        background:  darken($primary, 20);
    }
}

.big {
    font-size: 2rem;
    text-transform: uppercase; 
}

.btn-danger {
    @extend .btn;

    background: #f74e4e;

    &:hover {
        background: #b23e3e;
    }
}

%shadow{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);

}

.card{
    @extend %shadow;
    padding: 10px;
    border-radius: 3px;
    position:relative;
    background: #FFF;
    @include triangle;
    // mixin @include rotate(40deg);

}



.card-action{
    @extend .btn;
}

.card-cancel{
    @extend .btn-danger;
    @extend %shadow;
}

.card-actions{
    display: flex;
}

@for $i from 1 through 4 {
    .m-#{$i}{
        margin: 0 ($i * .25rem);
    }
}

$animals: bear, lion, camel;

@each $animal in $animals {

    .icon-#{$animal} {
        background: url(img/#{$animal}.png);
    }
}

$categories:
chien #eb6565,
chat #ffa528,
poisson #1a1a27;

@each $category in $categories {
    .#{nth($category, 1)} {
        background: nth($category, 2);
            @if(lightness(nth($category, 2)) > 50%){
        color: #000;
    } @else {
        color: #FFF;
    }
    }
}

@media #{$medium-up} {
    .btn {
        width: 100%;
    }
}